<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaaapp.cuenta_regresiva_de_dias_horas_y_minutos">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
